img.avatar{
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.post{
    background-color: rgba(255, 255, 255, 0.87);
    margin-top: 20px;
    box-shadow: 10px 10px 20px lightgray;
    padding: 20px;
    border-radius: 8px;
    color: #3e3e3e;
    line-height: 20px;
}
div .post-header{
    display: flex;
    align-items: center;
}
.post-header .details{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    font-size: 13px;
    color: #9a9a9a;
    line-height: 14px;
}
.post-header .details span:first-child{
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-bottom: 3px;
}
div .quest p{
    margin: 20px auto;
    padding: 20px;
    border-bottom: 0.5px solid rgba(201, 198, 198, 0.829);
}
div .comments{
    margin-top: 20px;
}
div .comment{
    display: flex;
    margin-left: 10px;
    flex-direction: row;
}
.comment img{
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.comment span{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.comment p{
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: rgba(224, 221, 221, 0.712);
}
.question {
    display: flex;
    flex-direction: row;
}
.question input{
    border: none;
    width: 100%;
    border-radius: 20px;
    outline: none;
    padding: 20px;
    border-bottom: 0.5px solid rgba(201, 198, 198, 0.829);
}